body{
  /*removes space from top right bottom and left */
  margin:0px;
  padding: 0px;
}

/*styles class container of Home */
.container{
  background-image:url(homeWallpaper.jpg); /*sets background image */
  background-size: cover;/* sets the size of image a */
  background-position: center;
  position:relative;
  background-attachment: fixed;/*keeps the  */
  background-repeat: no-repeat;/*keeps the original pictures */
  top:0;
  bottom:0;
  height:100vh;
}

/*styles class containerOverlay of Home*/
.containerOverLay{
  position: absolute;
  background-color:   rgb(0, 0, 0,0.3);
  top:0;
  bottom:0;
  height:100%;
  width:100%;
  background-attachment: scroll;
} 


/*styles the class title of Home */
.title {
  position:absolute;
  top:45%;
  left:50%;
  transform:translate(-50%,-50%);
  display: inline-block;
}

/*styles the ul of title class*/
.title ul{
  margin:0;
  padding: 0;
  display: flex;
}

.title ul li{
  list-style: none;
  color:white;
  font-size: 75px;
  text-shadow:-8px -3px black,-3px -3px black;
  letter-spacing: 8px;
}


.title ul:hover li{
  animation: effect 3s linear infinite;

}

@keyframes effect{
  0%{
    transform: rotate(0deg) translateY(0px) ;
    opacity: 1;
    filter: blur(5px);
  }

  100%{
    transform: rotate(45deg) translateY(-200px);
    opacity: 1;
    filter: blur(30px);
  }
}

.title ul li:nth-child(1){
  animation-delay: 0s;
}

.title ul li:nth-child(2){
  animation-delay: .3s;
}

.title ul li:nth-child(3){
  animation-delay: .6s;
}

.title ul li:nth-child(4){
  animation-delay: .9s;
}

.title ul li:nth-child(5){
  animation-delay: 1.2s;
}

.title ul li:nth-child(6){
  animation-delay: 1.5s;
}

.title ul li:nth-child(7){
  animation-delay: 1.8s;
}

.introContainer{
  width:500px;
  height:200px;
  margin-left: 480px;
  margin-top: 500px;
  display: inline-block;
  

}


.introContainer h2{
  color: yellow;
  font-size: 25px;
  font-family: algerian;
  font-weight: bold;
  display: inline-block;
  animation: animate 3s steps(27);
  overflow: hidden;
  white-space: nowrap;
  
}


@keyframes animate{
  0%{
    width:0ch;
  }

  100%{
    width:27ch;
  }
}


.nav{
  height:100%;
  width:0;
  position:fixed;
  background-color: rgb(0,0,0,0.8);
  transition:-0.5s;
  margin-left:1000px;
  overflow-x: hidden;
  top:80px;
  display: inline-block;
}

.nav a{
  text-decoration: none;
  font-size: 25px;
  font-family: sans-serif;
  color:yellow;
  display:block;
  transition:-0.3s;
  word-spacing: 60px;
  padding: 60px 8px 10px 55px;
}

.nav a:hover{
  color:#f1f1f1;
}

.nav a:visited{
  color:blue;
}

.nav .closebtn{
  position: absolute;
  top:0;
  font-size:40px;
  left:0;
  bottom: 0;
}


.myDescription{
  width:1349px;
  height:500px;
  background-color: black;
  display: inline-block;
}


.profile{
  margin-left: 50px;
  margin-top: 140px;
  border-radius: 60%;
  box-shadow: -2px -2px orange, 2px 2px purple;
  display: inline-block;
  position: absolute;
  background-color: black;
 
}

.aboutContainer{
  width:600px;
  height: 400px;
  background-color: black;
  margin-left: 450px;
  -webkit-box-shadow: -2px 13px 41px -7px rgba(181,161,181,1);
  -moz-box-shadow: -2px 13px 41px -7px rgba(181,161,181,1);
   box-shadow: -2px 13px 41px -7px rgba(181,161,181,1);
 
}

.aboutContainer h3{
  font-size:25px;
  font-family: arial;
  color:white;
  display: inline-block;
  margin-top: 100px;
  margin-left: 50px;
  opacity: 0.9;
  word-spacing: 5px;
  margin-bottom: 5px;  
}


.aboutContainer p{
  width:480px;
  color: white;
  display: inline-block;
  font-size: 22px;
  margin-left: 50px;
  line-height: 1.6;
  word-spacing: 1px;
  font-family: arial;
  opacity: 0.9;
}


footer{
  width:1349px;
  height:59px;
  background-color: yellow;
  opacity:0.9;
  display: inline-block;

}

footer h4{
  height:5px;
  letter-spacing: 10px;
  display: inline-block;
}

#fb{
  display: inline-block;
  margin-left: 870px;
  margin-top: 10px;
}

#insta{
  display: inline-block;
  margin-left: 10px;
}


#googlePlus{
  display: inline-block;
  margin-left: 10px;
}

